.containerP {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-heading {
    color: black;
}

    a:hover {
        background-color: deeppink;
        color: white;
        border-radius: 5px;
    }

p {
    line-height: 1.5;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
   
}

h1, h2 {
    color: #4a90e2;
}

ol, ul {
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
}

    a:hover {
        text-decoration: underline;
    }


