body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carouselSection {
    margin-top: 20px;
}

.carousel-item {
    text-align: center;
    height: 500px; /* Adjust the height as needed */
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
