@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy and Policy</title>
    <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />

</head>

<body>

    <main class="container">
        <section>
            <h1 class="section-heading">Privacy Policy</h1>
            <p>
                Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard
                your information when you visit our website.
                <!-- Add your privacy policy content here -->
            </p>
        </section>
        <section>
            <h1 class="section-heading">Information Collection and Use </h1>
            <p>
                Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard
                your information when you visit our website.
                <!-- Add your privacy policy content here -->
            </p>
        </section>
        <section>
            <h1 class="section-heading">Terms and Conditions</h1>
            <p>
                By accessing or using our website, you agree to comply with and be bound by the terms and conditions outlined
                in this document.
                Acceptance of Terms
                By accessing or using our website, you agree to comply with and be bound by the terms and conditions outlined in this document. If you do not agree with any part of these terms, you may not use our services.

                Intellectual Property
                All content on this website, including text, graphics, logos, and images, is the property of our company and is protected by intellectual property laws. Unauthorized use of any content from this site is strictly prohibited.

                Changes to Terms
                We reserve the right to modify or revise these terms and conditions at any time. Users are responsible for regularly reviewing these terms, and continued use of the website constitutes acceptance of any changes.

                Please note that this is a generic example, and you should customize it based on the specific features and functionalities of your website and consult with legal professionals for advice tailored to your situation.

                <!-- Add your terms and conditions content here -->
            </p>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Concert Ticket Website. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>