@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


    <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />

    <main class="containerP">
        <section>
            <h1 class="section-heading">Privacy Policy</h1>
            <p>
                Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard
                your information when you visit our website.
            </p>
        </section>
        <section>
            <h1 class="section-heading">Information Collection and Use </h1>
            <p>
                Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard
                your information when you visit our website.
                <!-- Add your privacy policy content here -->
            </p>
        </section>
        <section>
            <h1 class="section-heading">Terms and Conditions</h1>
            <p>
                By accessing or using our website, you agree to comply with and be bound by the terms and conditions outlined
                in this document.
                Acceptance of Terms
                By accessing or using our website, you agree to comply with and be bound by the terms and conditions outlined in this document. If you do not agree with any part of these terms, you may not use our services.

                Intellectual Property
                All content on this website, including text, graphics, logos, and images, is the property of our company and is protected by intellectual property laws. Unauthorized use of any content from this site is strictly prohibited.

                Changes to Terms
                We reserve the right to modify or revise these terms and conditions at any time. Users are responsible for regularly reviewing these terms, and continued use of the website constitutes acceptance of any changes.

                Please note that this is a generic example, and you should customize it based on the specific features and functionalities of your website and consult with legal professionals for advice tailored to your situation.
                <br>
            <p><strong>
                NOTE!Please note that individuals under the age of 18 are not allowed to attend events alone and must be accompanied by an adult aged 18 years or older. The adult must have filled up a declaration previously.
                </strong> </p>
            <p style="color:red;">
                <strong>
                    To open the declaration:  <a style="box-sizing: border-box; color: #00acff; text-decoration-line: none; background-color: transparent;"
                       href="https://bit.ly/deklaracia-pod18-concert" target="_blank" rel="noopener noreferrer">https://bit.ly/deklaracia-pod18-concert</a>
                </strong>        
            </p>
        </section>

        <section>
            <h1 class="section-heading">Data Protection</h1>
            <p>
                In terms of the legal bases we rely on to process your personal information, these are as follows:

                where you have provided your consent: for direct marketing communications in respect of our own products and services, including in respect of marketing communications sent by electronic means (e.g. email and SMS);
                for the performance of a contract with you (such as a contract for the provision of good and services) or to take steps at your request prior to entering into this contract;
                to comply with legal obligations, including in relation to health and safety and environmental legislation, performing anti- money laundering, terrorism prevention and sanctions screening checks, complaints and investigations or litigation;
                to protect your vital interests or the vital interests of another person, e.g. where you or they are seriously injured or ill, or
                for our legitimate interests in:
                management of your account (including processing payments) and our relationship with you, and communicating with you
                operating our Websites
                sending direct marketing in respect of our own products and services where you have not provided your consent and the marketing communication is sent by non-electronic means (e.g. post or telephone); processing orders and supplying our products and services; and
                our internal business purposes which may include processing for the purposes of: record keeping, research, reporting and statistics, data security, to ensure the quality of our products and services, investigating and responding to queries and complaints, obtaining credit references and credit checks, providing payment performance data to credit reference agencies, changing our pricing, debt collection, fraud detection and prevention, risk management, recruitment and training of our personnel, and protecting our rights, property and safety (and that of others).
                TicketsHarbour  takes your personal data seriously, adhering to the Data Protection Act of 2002. For more information, contact us!
            </p>
            <br><br/>
        </section>

        <br><br />
        <br><br />

    </main>
